/* === Custom CSS for www.darch.dk */

@import url(//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css);

/* Global variables. */
:root,
::backdrop {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Hack, Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 0;

  /* Darch theme */
  --bg: #333;
  --accent-bg: #333;
  --text: #ffe;
  --text-light: #ddd;
  --border: #585858;
  --accent: #9F9;
  --code: #9F9;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

body > header {
  border-bottom: 1px solid #9F9;
}

/* Site logo and title */

header p a img.logo {
  display: none;
}

header p a,
header p a:visited {
  color: #FFE;
  font-family: var(--mono-font);
  max-width: 4em;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9em;
  line-height: .9;
}

/* Header menu */

header > nav a,
header > nav a:visited {
  font-family: var(--mono-font);
  margin: 0 0.5rem 1rem 0.5rem;
  border: none;
  background-color: #9F9;
  color: #333;
  text-decoration: none;
  padding: 0 0.5em;
}

header > nav a:hover,
header > nav a.current,
header > nav a[aria-current="page"] {
  background-color: #FFE;
  color: #333;
}

header > nav a.secondary,
header > nav a:visited.secondary {
    background-color: #222;
    color: #555;
}

/* Reduce nav size on mobile */
@media only screen and (max-width: 720px) {
  header > nav {
    margin-top: -0.5rem;
  }
  header > nav a {
    padding: 0 0.2rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }
}

header > nav select {
    padding: 0.3rem;
}

/* Timeline view */

article {
  background-color: #222;
  border-radius: 5px;
  border: none;
}

.twt-msg {
/*  color: #FFE;  */
}

article small {
  color: var(--text-light);
}

/*
article small a,
article small a:visited {
  color: #9F9;
  font-weight: normal;
}

article small a:hover {
  text-decoration: underline;
}
*/

/* New twt Form box */

article#new_twt {
  background-color: var(--bg);
}

input, textarea {
  background-color: #222;
}